/*ConferenceRegistration*/

.bfc {
    overflow: auto;
}

@font-face {
    font-family: Icons;
    src: url(themes/default/assets/fonts/icons.eot);
    src: url(themes/default/assets/fonts/icons.eot?#iefix) format('embedded-opentype'), url(themes/default/assets/fonts/icons.woff2) format('woff2'), url(themes/default/assets/fonts/icons.woff) format('woff'), url(themes/default/assets/fonts/icons.ttf) format('truetype'), url(themes/default/assets/fonts/icons.svg#icons) format('svg');
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none
}

.container {
    width: 1200px;
    min-height: calc(100vh - 165px);
    margin: 0 auto;
    position: relative;
}

.container .signup-type-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.signup-type-list {
    list-style: none;
}

.signup-type-list li a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.signup-type-list li a:hover {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.signup-type-list li:last-child {
    border-bottom: 0;
    margin-bottom: 42px;
}

.personal-icon {
    background: url(../image/signup.png) no-repeat center center;
}

.group-icon {
    background: url(../image/peoples.png) no-repeat center center;
}

.locale-icon {
    background: url(../image/buliding.png) no-repeat center center;
}

.personal-icon,
.locale-icon,
.group-icon {
    height: 126px;
    width: 126px;
    margin: 0 47px 0 37px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.flow-text {
    flex: 1;
}

.flow-text p {
    font-size: 16px;
    line-height: 16px;
}

.flow-text p:nth-child(1) {
    margin-top: 41px;
    margin-bottom: 12px;
    font-weight: bold;
}

.flow-text p:nth-child(2) {
    margin-bottom: 20px;
    color: #888;
}

.flow-text p:nth-child(3) {
    margin-bottom: 29px;
    color: #c8c8c8;
    line-height: 30px;
}

.personal-text {
    color: #008bd7;
}

.group-text {
    color: #fc6565;
}

.locale-text {
    color: #dbb541
}

.signup-type-list i {
    margin-left: 30px;
    font-size: 30px;
    color: #e8e8e8;
    cursor: pointer;
}


/*Personal Sign Up*/

.signup-form {
    margin: 25px auto 20px auto !important;
}

.signup-form p {
    margin-bottom: 20px;
    color: #cecece;
    text-align: center;
}

.signup-form input[type="submit"] {
    display: block;
    margin: 55px auto 32px;
    padding: .78571429em 2.5em .78571429em;
    font-weight: normal;
}

.row {
    margin: 10px;
    text-align: center;
}

.row>label {
    display: inline-block;
    width: 65px;
    text-align: left;
    font-weight: bold;
}

.row>div {
    display: inline-block;
}

.signup-form .field .input,
.signup-form .field .selection,
.ui.calendar {
    width: 100%;
    max-width: 460px;
}

.ui.form .field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.required:after {
    content: '*';
    position: absolute;
    left: 475px;
    top: 0;
    color: #fd4d4d;
}

.sex-radio-group {
    width: 460px;
    line-height: 38px;
}

.sex-radio-group>div {
    display: inline-block;
}

.ui.radio.checkbox input:checked~.box:after,
.ui.radio.checkbox input:checked~label:after {
    background: #008bd7 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}


/*Catering*/

.sidebar {
    display: inline-block;
    margin: 10px 0 0 48px;
    padding: 0;
}

.sidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 40px;
    position: relative;
    padding: 0 14px;
    list-style: none;
    font-size: 16px;
}

.sidebar li:first-child,
.course-price,
.coupons,
.material-detail .views,
.material-detail p {
    color: #888;
}

.course-price {
    margin-bottom: 13px;
}

.course-price span:last-child {
    color: #ff4e4e;
}

.sidebar li:first-child:before {
    content: "";
    position: absolute;
    left: 5px;
    align-self: center;
    height: 14px;
    width: 2px;
    background: #1c9cfe;
}

.sidebar li:not(:first-child) {
    border-bottom: 1px solid #d1d1d1;
}

.total-price {
    margin-left: 5px;
    color: #ff4e4e;
}

p.total-price {
    color: #888;
}

.no-promotion,
.next-page-text,
.original-price,
.material-detail .date {
    color: #c8c8c8;
}

.active-slide-option {
    color: #1c9cfe;
}

.main-content {
    margin: 15px 50px 0 276px;
    padding-top: 1px;
}

.content-list li,
.hotel-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.content-list li {
    border-bottom: 1px solid #e8e8e8;
}

.content-list li>div {
    flex: 1;
    margin-left: 20px;
}

.content-list input[type="checkbox"].check-mark-radio+label:before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    width: 100%;
    min-width: 25px;
    height: 25px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.content-list input[type="checkbox"]:checked.check-mark-radio+label:before {
    background: url(../image/check-mark.png) no-repeat center center;
    background-color: #f2f2f2;
}

.content-list input[type="checkbox"].check-mark-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.content-list input {
    background: #66b9e7 !important;
}

.content-list input:hover {
    background: #2185d0 !important;
}

.meeting-name {
    margin-top: 15px !important;
    font-size: 17px;
}

.promotion {
    position: relative;
    color: #66b9e7;
}

.meeting-name,
.promotion,
.no-promotion {
    margin-bottom: 5px;
}

.coupon-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.coupon-total h4 {
    padding: 0 0 65px 25px;
}

.coupon-total+input[type="submit"] {
    margin-bottom: 70px;
}

.next-page-text {
    display: block;
    margin: 70px 0 50px;
    text-align: center;
}


/*metarialDetail*/

.material-detail {
    margin-top: 20px;
}

.views {
    margin: 55px;
}

.material-detail p {
    margin-top: 30px;
}

.material-detail+input {
    margin: 200px 0 50px 0 !important;
}


/*hotel*/

.hotel-list li {
    margin: 13px 0;
}

.hotel {
    flex: 1;
    margin-left: 10px;
}

.hotel+input {
    align-self: flex-start;
}

.hotel p {
    margin-bottom: 7px;
    font-size: 13px;
    line-height: 13px;
}

.hotel p:last-of-type {
    margin-bottom: 0;
}

.hotel p:nth-child(2),
.hotel p:nth-child(4) {
    color: #888;
}

.hotel p:nth-child(3) {
    color: #e0955e;
}


/*hotelDetail*/

.ui.table.hotel-table {
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 15px 70px 0 0;
    float: left;
}

.hotel-table tbody tr td {
    padding: 0 !important;
    width: 82px;
}

input[type="radio"].check-mark-radio+label:before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    width: 100%;
    height: 45px;
}

input[type="radio"]:checked.check-mark-radio+label:before {
    background: url(../image/select.png) no-repeat center center;
}

input[type="radio"]:checked:disabled.check-mark-radio+label:before {
    background: url(../image/select-disable.png) no-repeat center center;
}

input[type="radio"].check-mark-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.hotel-remark p:first-child {
    margin: 15px 0 35px 0;
    color: #888;
}

.hotel-remark p:first-child span {
    color: #ff4e4e;
}

.hotel-remark p:last-child {
    color: #a8a8a8;
}

.accommodations {
    margin: 40px 0;
}

.accommodations p {
    color: #888;
}


/*pay*/

.amount {
    display: flex;
    position: relative;
    padding-left: 15px;
    line-height: 50px;
    border-bottom: 1px solid #e1e1e1;
}

.amount:before {
    content: "";
    position: absolute;
    left: 5px;
    align-self: center;
    height: 14px;
    width: 3px;
    background: #1c9cfe;
}

.amount span {
    color: #ff8938;
}

.pay-type {
    padding-bottom: 95px;
}

.pay-type a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    width: 140px;
    min-width: 100px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #d9d9d9;
    text-align: center;
    cursor: pointer;
}

.pay-type a:hover {
    border: 2px solid #f97878;
}

.pay-type a.pay-selected {
    position: relative;
    border: 2px solid #f97878;
}

.pay-type a.pay-selected:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    border-bottom: 25px;
    border-right: 2px;
    border: 10px solid;
    border-color: transparent #f97878 #f97878 transparent;
}

.pay-type a.pay-selected:before {
    font-family: Icons;
    content: "\f00c";
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 10px;
    z-index: 1;
    color: #fff;
    font-size: 13px;
}

.pay-type img {
    margin-right: 5px;
    vertical-align: middle;
}

.pay-type p {
    margin: 25px 0;
}

.sidebar li span.final-price {
    line-height: 70px;
}

.sidebar div {
    display: flex;
    justify-content: space-between;
    width: 190px;
    height: 70px;
    line-height: 90px;
    padding: 0 14px;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1;
}

.sidebar a {
    float: right;
    margin: 14px;
    text-decoration: underline;
    color: #4183c4;
    cursor: pointer;
}


/*agendaDetail*/

.agenda-info {
    padding: 25px 25px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 16px;
    line-height: 26px;
}

.agenda-info li {
    list-style: none;
}

.agenda-info li:nth-child(1) {
    padding-left: 26px;
    background: url(../image/date.png) no-repeat left center;
}

.agenda-info li:nth-child(2) {
    padding-left: 26px;
    background: url(../image/time.png) no-repeat left center;
    color: #c8c8c8;
}

.agenda-info li:nth-child(3) {
    padding-left: 26px;
    background: url(../image/location.png) no-repeat left center;
}

.agenda-info li:nth-child(4) {
    padding-left: 26px;
    background: url(../image/activity.png) no-repeat left center;
    color: #c8c8c8;
}

.agenda-info+p {
    margin: 15px 0 0 40px;
    color: #1c9cfe;
    font-size: 13px;
}

.presenter-list li,
.academia-list li {
    display: flex;
    align-items: center;
    margin-left: 25px;
    border-bottom: 1px solid #e6e6e6;
    list-style: none;
}

.presenter-list li img,
.academia-list li img {
    margin: 15px 10px 15px 0;
}

.academia-list div p:nth-child(2) {
    color: #888
}

.academia-list div p:nth-child(3) {
    color: #c8c8c8
}

.academia-list {
    margin-bottom: 50px;
}

.next-agenda p {
    color: #1c9cfe;
    display: inline-block;
}

.next-agenda p:first-of-type {
    margin: 35px 50px 35px 25px;
}

.next-agenda p:nth-of-type(2) {
    color: #888;
    margin-right: 95px;
}

.next-agenda span {
    color: #888;
    margin-right: 15px;
}

.next-agenda+p {
    margin-left: 25px;
    color: #888;
}


/*agenda*/

.agenda-search {
    margin-top: 25px;
}

.agenda-search .input {
    margin-right: 20px;
}

.agenda-search .ui.icon.button {
    padding: .78571429em 2em .78571429em;
}

.agenda-table {
    height: calc(100vh - 250px);
    margin: 30px 0;
    padding-right: 75px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 5px;
    overflow-y: auto;
}

.agenda-table .ui.table thead th:first-child {
    background: #45b9d6;
    color: #fff;
    font-size: 20px;
    width: 50px;
}

.agenda-table .ui.table thead th {
    background: #f2f2f2;
}

.agenda-table .ui.table tbody td {
    font-size: 17px;
}

.agenda-table td:first-child p {
    text-align: center;
}

.agenda-table td:first-child p:nth-child(1) {
    color: #888;
}

.agenda-table td:first-child p:nth-child(2) {
    font-size: 23px;
}

.agenda-table td:first-child p:nth-child(3) {
    color: #c8c8c8;
}

.agenda-table td p:first-child {
    text-align: center;
    color: #888;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .signup-form {
        margin: 25px 20px 20px 20px !important;
    }
}

@media screen and (max-width: 487px) {
    .row .ui.input,
    .row .ui.selection {
        width: auto;
    }
    .required:after {
        left: 103%;
    }
}