<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link href="../../assets/css/semantic.min.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/semantic.min.js"></script>
    <title>个人报名（资料详情）</title>
</head>

<body>
    <header>
        <div class="ui borderless large pointing btm menu">
            <a class="item active">首页</a>
            <a class="item">参会指南</a>
            <a class="item">参会报名</a>
            <a class="item">会议动态</a>
            <a class="item">会议视频</a>
            <a class="item">会议征文</a>
            <a class="item">关于我们</a>
            <a class="item">登录</a>
            <a class="item hide">个人中心</a>
        </div>
        <!-- <div class="ui borderless btm-sub menu">
            <a class="item active">组织架构</a>
            <a class="item">参会专家</a>
            <a class="item">会议日程</a>
          </div> -->
    </header>
    <div class="container">
        <ul class="sidebar float-left">
            <li>选择商品
            </li>
            <li>会议与课程<span class="total-price meeting-price"></span></li>
            <li>住宿费<span class="total-price hotel-price"></span></li>
            <li>餐饮费<span class="total-price catering-price"></span></li>
            <li>资料费<span class="total-price material-price"></span></li>
        </ul>
        <div class="main-content">
            <div class="material-detail">
                <h4>博览中心参考观察2018世界科技制造大会</h4>
                <span class="date">2018-12-06</span>
                <span class="views">浏览 3650</span>
                <p>一年一度的自然语言处理青年学者研讨会即将召开，自2004年创立以来，自然语言处理领域青年学者研讨会(YSSNLP)已经成为了国内NLP领域产学界的最重要盛会之一，旨在促进NLP领域国内外学者间的学术互动，加强研究人员与企业界和政府相关部门的交流对话，共同促进整个NLP产业的提升。YSSNLP2016继上海、哈尔滨、厦门、苏州、北京、大连、沈阳、昆明、深圳、长沙、乐山、和福州会议后的第十三届。</br>
                    </br>YSSNLP-2016(http://yssblp2016.nwnu.edu.cn)将于2016年7月29-30日在甘肃省兰州市召开，由西北师范大学(http://www.nwnu.edu.cn)承办。按照YSSNLP惯例，本届会议采取邀请制，竭诚欢迎学术与企业界的朋友参与本次会议。大会将邀请著名学者、企业代表发表精彩演讲，同事还将组织针对当前NLP领域热点问题的研讨，为与会代表提供宝贵的交流平台。</P>
            </div>
            <input type="button" class="ui button primary float-right wide-btn return-btn" value="返回">
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
            <p>京ICP备13020642号-20 京公网备案11010502025794</p>
        </div>
    </footer>
</body>

</html>
<script>
    $(document).ready(function() {
        $(".meeting-price").text(sessionStorage.meetingPrice != undefined ? sessionStorage.meetingPrice + "元" : "0元");
        $(".hotel-price").text(sessionStorage.hotelPrice != undefined ? sessionStorage.hotelPrice + "元" : "0元");
        $(".catering-price").text(sessionStorage.cateringPrice != undefined ? sessionStorage.cateringPrice + "元" : "0元");
        $(".material-price").text(sessionStorage.materialPrice != undefined ? sessionStorage.materialPrice + "元" : "0元");
    });
    $("input").click(function() {
        window.location.href = "meeting.html";
    });
</script>