<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/semantic.min.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/semantic.min.js"></script>
    <title>个人报名</title>
</head>

<body>
    <header>
        <div class="ui borderless large pointing btm menu">
            <a class="item active">首页</a>
            <a class="item">参会指南</a>
            <a class="item">参会报名</a>
            <a class="item">会议动态</a>
            <a class="item">会议视频</a>
            <a class="item">会议征文</a>
            <a class="item">关于我们</a>
            <a class="item">登录</a>
            <a class="item hide">个人中心</a>
        </div>
        <div class="ui borderless btm-sub menu">
            <a class="item active">组织架构</a>
            <a class="item">参会专家</a>
            <a class="item">会议日程</a>
        </div>
    </header>
    <div class="container">
        <ul class="sidebar float-left">
            <li>选择商品
            </li>
            <li>会议与课程<span class="meeting-price total-price">1000元</span></li>
            <li><span class="active-slide-option">住宿费</span></li>
            <li>餐饮费</li>
            <li>资料费</li>
        </ul>
        <div class="main-content">
            <ul class="hotel-list">
                <li>
                    <img src="../../assets/image/hotel.png">
                    <div class="hotel">
                        <p>希尔顿酒店</p>
                        <p>北京海淀区 2018年1月1日-5日</p>
                        <p>五星级</p>
                        <p>800~1600元</p>
                    </div>
                    <input type="button" class="ui button primary small-btn" value="选择床位">
                </li>
                <li>
                    <img src="../../assets/image/hotel.png">
                    <div class="hotel">
                        <p>希尔顿酒店</p>
                        <p>北京海淀区 2018年1月1日-5日</p>
                        <p>五星级</p>
                        <p>800~1600元</p>
                    </div>
                    <input type="button" class="ui button primary small-btn" value="选择床位">
                </li>
                <li>
                    <img src="../../assets/image/hotel.png">
                    <div class="hotel">
                        <p>希尔顿酒店</p>
                        <p>北京海淀区 2018年1月1日-5日</p>
                        <p>五星级</p>
                        <p>800~1600元</p>
                    </div>
                    <input type="button" class="ui button primary small-btn" value="选择床位">
                </li>
                <li>
                    <img src="../../assets/image/hotel.png">
                    <div class="hotel">
                        <p>希尔顿酒店</p>
                        <p>北京海淀区 2018年1月1日-5日</p>
                        <p>五星级</p>
                        <p>800~1600元</p>
                    </div>
                    <input type="button" class="ui button primary small-btn" value="选择床位">
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
            <p>京ICP备13020642号-20 京公网备案11010502025794</p>
        </div>
    </footer>
</body>

</html>
<script>
    $(document).ready(function() {
        $(".meeting-price").text(sessionStorage.meetingPrice != undefined ? sessionStorage.meetingPrice + "元" : "0元");
    });
    $("input").click(function() {
        window.location.href = "hotelDetail.html";
    });
</script>