<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link href="../../assets/css/semantic.min.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/semantic.min.js"></script>
    <title>个人报名</title>
</head>

<body>
    <header>
        <div class="ui borderless large pointing btm menu">
            <a class="item active">首页</a>
            <a class="item">参会指南</a>
            <a class="item">参会报名</a>
            <a class="item">会议动态</a>
            <a class="item">会议视频</a>
            <a class="item">会议征文</a>
            <a class="item">关于我们</a>
            <a class="item">登录</a>
            <a class="item hide">个人中心</a>
        </div>
        <div class="ui borderless btm-sub menu">
            <a class="item active">组织架构</a>
            <a class="item">参会专家</a>
            <a class="item">会议日程</a>
        </div>
    </header>
    <div class="container">
        <ul class="sidebar float-left">
            <li>选择商品
            </li>
            <li>会议与课程<span class="total-price meeting-price"></span></li>
            <li class="active-slide-option">住宿费<span class="total-price hotel-price"></span></li>
            <li>餐饮费<span class="total-price catering-price"></span></li>
            <li>资料费</li>
        </ul>
        <div class="main-content">
            <div class="bfc">
                <table class="ui collapsing celled table hotel-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>3月1日</th>
                            <th>3月2日</th>
                            <th>3月3日</th>
                            <th>3月4日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                标间
                            </td>
                            <td>
                                <input type="radio" id="1" name="mar1" data-price="400" data-date="3月1日" data-room="标间" class="check-mark-radio" />
                                <label for="1"></label>
                            </td>
                            <td>
                                <input type="radio" id="2" name="mar2" data-price="400" data-date="3月2日" data-room="标间" class="check-mark-radio" />
                                <label for="2"></label>
                            </td>
                            <td>
                                <input type="radio" id="3" name="mar3" data-price="400" data-date="3月3日" data-room="标间" class="check-mark-radio" disabled="disabled" />
                                <label for="3"></label>
                            </td>
                            <td>
                                <input type="radio" id="4" name="mar4" data-price="400" data-date="3月4日" data-room="标间" class="check-mark-radio" />
                                <label for="4"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                大床房
                            </td>
                            <td>
                                <input type="radio" id="5" name="mar1" data-price="500" data-date="3月1日" data-room="大床房" class="check-mark-radio" />
                                <label for="5"></label>
                            </td>
                            <td>
                                <input type="radio" id="6" name="mar2" data-price="500" data-date="3月2日" data-room="大床房" class="check-mark-radio" />
                                <label for="6"></label>
                            </td>
                            <td>
                                <input type="radio" id="7" name="mar3" data-price="500" data-date="3月3日" data-room="大床房" class="check-mark-radio" checked="checked" disabled="disabled" />
                                <label for="7"></label>
                            </td>
                            <td>
                                <input type="radio" id="8" name="mar4" data-price="500" data-date="3月4日" data-room="大床房" class="check-mark-radio" />
                                <label for="8"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                三人房
                            </td>
                            <td>
                                <input type="radio" id="9" name="mar1" data-price="600" data-date="3月1日" data-room="三人房" class="check-mark-radio" />
                                <label for="9"></label>
                            </td>
                            <td>
                                <input type="radio" id="10" name="mar2" data-price="600" data-date="3月2日" data-room="三人房" class="check-mark-radio" />
                                <label for="10"></label>
                            </td>
                            <td>
                                <input type="radio" id="11" name="mar3" data-price="600" data-date="3月3日" data-room="三人房" class="check-mark-radio" disabled="disabled" />
                                <label for="11"></label>
                            </td>
                            <td>
                                <input type="radio" id="12" name="mar4" data-price="600" data-date="3月4日" data-room="三人房" class="check-mark-radio" />
                                <label for="12"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                标间床位
                            </td>
                            <td>
                                <input type="radio" id="13" name="mar1" data-price="700" data-date="3月1日" data-room="标间床位" class="check-mark-radio" />
                                <label for="13"></label>
                            </td>
                            <td>
                                <input type="radio" id="14" name="mar2" data-price="700" data-date="3月2日" data-room="标间床位" class="check-mark-radio" />
                                <label for="14"></label>
                            </td>
                            <td>
                                <input type="radio" id="15" name="mar3" data-price="700" data-date="3月3日" data-room="标间床位" class="check-mark-radio" disabled="disabled" />
                                <label for="15"></label>
                            </td>
                            <td>
                                <input type="radio" id="16" name="mar4" data-price="700" data-date="3月4日" data-room="标间床位" class="check-mark-radio" />
                                <label for="16"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                三人房床位
                            </td>
                            <td>
                                <input type="radio" id="17" name="mar1" data-price="800" data-date="3月1日" data-room="三人房床位" class="check-mark-radio" />
                                <label for="17"></label>
                            </td>
                            <td>
                                <input type="radio" id="18" name="mar2" data-price="800" data-date="3月2日" data-room="三人房床位" class="check-mark-radio" />
                                <label for="18"></label>
                            </td>
                            <td>
                                <input type="radio" id="19" name="mar3" data-price="800" data-date="3月3日" data-room="三人房床位" class="check-mark-radio" />
                                <label for="19"></label>
                            </td>
                            <td>
                                <input type="radio" id="20" name="mar4" data-price="800" data-date="3月4日" data-room="三人房床位" class="check-mark-radio" />
                                <label for="20"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hotel-remark">
                    <p>您订购了xxxx会议 赠送您<span>3月3日</span>大床房一晚</p>
                    <p>酒店备注：是出差入住酒店吧？首先一点，发票备注是可有可无的，最重要的是发票抬头和发票明细，不是发票备注，发票抬头写你们公司，明细写住宿费，开票时间就是最好的时间证明，不用卸载备注，回头给财务报销的时候最多让你在发票背面签个这里最多200字。</p>
                </div>
            </div>
            <div class="accommodations">
                <h4>住宿信息</h4>
            </div>
            <div class="coupon-total">
                <h4>优惠券</h4>
                <div>
                    <a class="coupons">有2张优惠券可用<i class="angle right icon"></i></a>
                    <P class="total-price">费用合计 :<span class="total-price hotel-price"></span></P>
                </div>
            </div>
            <input type="submit" class="ui button primary float-right wide-btn" value="提交">
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
            <p>京ICP备13020642号-20 京公网备案11010502025794</p>
        </div>
    </footer>
    <div class="ui modal small">
        <i class="close icon"></i>
        <div class="header">
            提示
        </div>
        <div class="image content">
            <div class="description">
                请选择酒店房间！
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">关闭</div>
        </div>
    </div>
</body>

</html>
<script>
    var calculatePrice = function() {
        var hotelPrice = 0;
        var hotelInfo = $(".accommodations");
        $(hotelInfo).find($("h4")).nextAll().remove();
        var checked = $(':radio:checked');
        var hotelInfoArr = new Array();
        for (var i = 0; i < checked.length; i++) {
            hotelPrice += parseInt($(checked[i]).attr('data-price'));
            hotelInfoArr.push({
                hotelInfoDom: $("<p>" + $(checked[i]).attr('data-date') + "" + $(checked[i]).attr('data-room') + " " + $(checked[i]).attr('data-price') + "元</P>"),
                cell: $(checked[i]).parent().index(),
            });
        }
        hotelInfoArr.sort(function(a, b) {
            return a.cell - b.cell;
        })
        for (var j = 0; j < hotelInfoArr.length; j++) {
            $(hotelInfo).append($(hotelInfoArr[j].hotelInfoDom));
        }
        return hotelPrice;
    }
    $(document).ready(function() {
        $(".hotel-price").each(function(i) {
            $(this).text(calculatePrice() + "元");
        });
        $(".meeting-price").text(sessionStorage.meetingPrice != undefined ? sessionStorage.meetingPrice + "元" : "0元");
    });
    $(":submit").click(function() {
        var checked = $(':radio:checked');
        if (checked.length == 0) {
            $('.ui.modal')
                .modal('show');
        } else {
            sessionStorage.setItem("hotelPrice", calculatePrice());
            window.location.href = "catering.html";
        }
    });
    $(":radio").click(function(e) {
        $(".hotel-price").each(function(i) {
            $(this).text(calculatePrice() + "元");
        });
    });
</script>