<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../assets/css/semantic.min.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/semantic.min.js"></script>
    <title>个人报名</title>
</head>

<body>
    <header>
        <div class="ui borderless large pointing btm menu">
            <a class="item active">首页</a>
            <a class="item">参会指南</a>
            <a class="item">参会报名</a>
            <a class="item">会议动态</a>
            <a class="item">会议视频</a>
            <a class="item">会议征文</a>
            <a class="item">关于我们</a>
            <a class="item">登录</a>
            <a class="item hide">个人中心</a>
        </div>
        <!-- <div class="ui borderless btm-sub menu">
            <a class="item active">组织架构</a>
            <a class="item">参会专家</a>
            <a class="item">会议日程</a>
          </div> -->
    </header>
    <div class="container">
        <ul class="sidebar float-left">
            <li>选择商品
            </li>
            <li>会议与课程<span class="total-price">1000元</span></li>
            <li>住宿费<span class="total-price">1400元</span></li>
            <li>餐饮费<span class="total-price">1400元</span></li>
            <li><span class="active-slide-option">资料费</span></li>
        </ul>
        <div class="content">
            <ul class="content-list">
                <li>
                    <input id="checkbox1" type="checkbox" class="check-mark-radio">
                    <label for="checkbox1"></label>
                    <div>
                        <p class="meeting-name">资料名称001</p>
                        <p class="promotion">3月1日支付优惠500元</p>
                        <div class="course-price">
                            <span class="original-price">费用1000元</span> 优惠后
                            <span class="price">500</span>
                        </div>
                    </div>
                    <input type="button" class="ui button primary middle-btn" value="详情">
                </li>
                <li>
                    <input id="checkbox2" type="checkbox" class="check-mark-radio">
                    <label for="checkbox2"></label>
                    <div>
                        <p class="meeting-name">资料名称002</p>
                        <p class="no-promotion">暂无优惠</p>
                        <div class="course-price">
                            费用
                            <span class="price">1000</span>
                        </div>
                    </div>
                    <input type="button" class="ui button primary middle-btn" value="详情">
                </li>
                <li>
                    <input id="checkbox3" type="checkbox" class="check-mark-radio">
                    <label for="checkbox3"></label>
                    <div>
                        <p class="meeting-name">资料名称003</p>
                        <p class="promotion">3月1日支付优惠500元</p>
                        <div class="course-price">
                            <span class="original-price">费用1000元</span> 优惠后
                            <span class="price">1000</span>
                        </div>
                    </div>
                    <input type="button" class="ui button primary middle-btn" value="详情">
                </li>
                <li>
                    <input id="checkbox4" type="checkbox" class="check-mark-radio">
                    <label for="checkbox4"></label>
                    <div>
                        <p class="meeting-name">资料名称004</p>
                        <p class="no-promotion">暂无优惠</p>
                        <div class="course-price">
                            费用
                            <span class="price">1000</span>
                        </div>
                    </div>
                    <input type="button" class="ui button primary middle-btn" value="详情">
                </li>
            </ul>
            <div class="coupon-total">
                <h4>优惠券</h4>
                <div>
                    <a class="coupons">有2张优惠券可用<i class="angle right icon"></i></a>
                    <P class="total-price">费用合计 :<span class="price">500</span> 元</P>
                </div>
            </div>
            <input type="submit" class="ui button primary float-right wide-btn" value="提交">
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
            <p>京ICP备13020642号-20 京公网备案11010502025794</p>
        </div>
    </footer>
</body>

</html>
<script>
    $(":submit").click(function() {
        window.location.href = "pay.html";
    });
</script>