<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/semantic.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>
    <title>会议议程详情</title>
</head>

<body>
    <header>
        <div class="ui borderless top menu">
        </div>
        <div class="banner bgi" style="background-image: url('../assets/image/banner.png')"></div>
        <div class="ui borderless large pointing btm menu">
            <a class="item active">首页</a>
            <a class="item">参会指南</a>
            <a class="item">参会报名</a>
            <a class="item">会议动态</a>
            <a class="item">会议视频</a>
            <a class="item">会议征文</a>
            <a class="item">关于我们</a>
            <a class="item">登录</a>
            <a class="item hide">个人中心</a>
        </div>
        <div class="ui borderless btm-sub menu">
            <a class="item active">组织架构</a>
            <a class="item">参会专家</a>
            <a class="item">会议日程</a>
        </div>
    </header>
    <div class="container">
        <ul class="agenda-info">
            <li>2019-06-01</li>
            <li>14:35-16:30</li>
            <li>多功能会议厅401楼</li>
            <li>中国肺结核节诊治共识修改 (全体大会)</li>
        </ul>
        <p>主持人</p>
        <ul class="presenter-list">
            <li>
                <img src="../assets/image/presenter.png">
                <p>周杰明</p>
            </li>
            <li>
                <img src="../assets/image/presenter.png">
                <p>肖大宝</p>
            </li>
        </ul>
        <div class="next-agenda">
            <p>中国肺结核草案讨论单元</p>
            <p>16:30-17:00</p>
            <p>主持人：<span>张晓峰</span></p>
            <p>主持人：<span>黄开</span></p>
        </div>
        <p>学术日程</p>
        <ul class="academia-list">
            <li>
                <img src="../assets/image/presenter.png">
                <div>
                    <p>中国肺结核知识修改草案</p>
                    <p>意大利米兰Humanitas眼科医院</p>
                    <p>10:00-10:25</p>
                </div>
            </li>
            <li>
                <img src="../assets/image/presenter.png">
                <div>
                    <p>中国肺结核知识修改草案</p>
                    <p>意大利米兰Humanitas眼科医院</p>
                    <p>10:00-10:25</p>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
            <p>京ICP备13020642号-20 京公网备案11010502025794</p>
        </div>
    </footer>
</body>

</html>