<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/semantic.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/semantic.min.js"></script>
  <script src="../js/home.js"></script>
  <title>收藏夹</title>
</head>

<body>
  <header>
    <div class="ui borderless top menu">
      <div class="logo">
        <a href="./home.html">
          <img src="../assets/image/logo.png">
        </a>
      </div>
      <div class="right menu">
        <a class="item" href="./home.html">首页</a>
        <a class="item">参会指南</a>
        <a class="item">参会报名</a>
        <a class="item">会议动态</a>
        <a class="item">会议视频</a>
        <a class="item">会议征文</a>
        <a class="item">关于我们</a>
        <a class="item hide" href="./login.html">登录</a>
        <a class="item active">个人中心</a>
      </div>
    </div>
    <div class="banner bgi" style="background-image: url('../assets/image/banner.png')"></div>
  </header>
  <main class="topnav main">
    <h3 class="list-title">收藏夹</h3>
    <div class="vertical-tab">
      <div class="ui vertical tabular menu">
        <a class="active item" data-tab="meeting">
          会议
        </a>
        <a class="item" data-tab="video">
          视频
        </a>
        <a class="item" data-tab="article">
          文章
        </a>
      </div>
      <div class="ui tab active" data-tab="meeting">
        <div class="meeting-list">
          <a class="ml-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <div class="ml-info">
              <h4>标题</h4>
              <p class="date">时间:
                <span>2018-03-12 15:00</span>
              </p>
              <p>地点:
                <span>北京市海淀区某街123号</span>
              </p>
            </div>
          </a>
          <a class="ml-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <div class="ml-info">
              <h4>标题</h4>
              <p class="date">时间:
                <span>2018-03-12 15:00</span>
              </p>
              <p>地点:
                <span>北京市海淀区某街123号</span>
              </p>
            </div>
          </a>
          <a class="ml-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <div class="ml-info">
              <h4>标题</h4>
              <p class="date">时间:
                <span>2018-03-12 15:00</span>
              </p>
              <p>地点:
                <span>北京市海淀区某街123号</span>
              </p>
            </div>
          </a>
          <a class="ml-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <div class="ml-info">
              <h4>标题</h4>
              <p class="date">时间:
                <span>2018-03-12 15:00</span>
              </p>
              <p>地点:
                <span>北京市海淀区某街123号</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="ui tab" data-tab="video">
        <div class="vmeeting-box">
          <a class="vmeeting-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <h4 class="name">视频名称</h4>
            <p class="hoster">主持人
              <span>2018-10-10</span>
            </p>
            <div class="justify-box ">
              <p class="view">
                <i class="eye icon"></i>23万</p>
              <p class="amount">¥
                <span>500</span>
              </p>
            </div>
          </a>
          <a class="vmeeting-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <h4 class="name">视频名称</h4>
            <p class="hoster">主持人
              <span>2018-10-10</span>
            </p>
            <div class="justify-box ">
              <p class="view">
                <i class="eye icon"></i>23万</p>
              <p class="amount">¥
                <span>500</span>
              </p>
            </div>
          </a>
          <a class="vmeeting-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <h4 class="name">视频名称</h4>
            <p class="hoster">主持人
              <span>2018-10-10</span>
            </p>
            <div class="justify-box ">
              <p class="view">
                <i class="eye icon"></i>23万</p>
              <p class="amount">¥
                <span>500</span>
              </p>
            </div>
          </a>
          <a class="vmeeting-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <h4 class="name">视频名称</h4>
            <p class="hoster">主持人
              <span>2018-10-10</span>
            </p>
            <div class="justify-box ">
              <p class="view">
                <i class="eye icon"></i>23万</p>
              <p class="amount">¥
                <span>500</span>
              </p>
            </div>
          </a>
          <a class="vmeeting-item hover-item" href="#">
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
            <h4 class="name">视频名称</h4>
            <p class="hoster">主持人
              <span>2018-10-10</span>
            </p>
            <div class="justify-box">
              <p class="view">
                <i class="eye icon"></i>23万</p>
              <p class="amount">¥
                <span>500</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="ui tab" data-tab="article">
        <div class="article-box">
          <a href="#" class="article-item">
            <div class="content">
              <h3>第十一届中国医师协会外科医师年会</h3>
              <p class="info">中国医师协会外科医师分会（Chinese College of Surgeons, CCS）于 2007 年 11 月成立，十一年来分会秉承“规范行业行为、维权自律并重”的宗旨，充分发挥“服务、协调、自律、维权、监督、管理”的职能，弘扬以德为本权益...</p>
              <div class="justify-box">
                <p class="view">
                  <span>2.5万</span>次浏览</p>
                <p class="date">时间：
                  <span>2018-11-11</span>
                </p>
              </div>
            </div>
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
          </a>
          <a href="#" class="article-item">
            <div class="content">
              <h3>第十一届中国医师协会外科医师年会</h3>
              <p class="info">中国医师协会外科医师分会（Chinese College of Surgeons, CCS）于 2007 年 11 月成立，十一年来分会秉承“规范行业行为、维权自律并重”的宗旨，充分发挥“服务、协调、自律、维权、监督、管理”的职能，弘扬以德为本权益...</p>
              <div class="justify-box">
                <p class="view">
                  <span>2.5万</span>次浏览</p>
                <p class="date">时间：
                  <span>2018-11-11</span>
                </p>
              </div>
            </div>
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
          </a>
          <a href="#" class="article-item">
            <div class="content">
              <h3>第十一届中国医师协会外科医师年会</h3>
              <p class="info">中国医师协会外科医师分会（Chinese College of Surgeons, CCS）于 2007 年 11 月成立，十一年来分会秉承“规范行业行为、维权自律并重”的宗旨，充分发挥“服务、协调、自律、维权、监督、管理”的职能，弘扬以德为本权益...</p>
              <div class="justify-box">
                <p class="view">
                  <span>2.5万</span>次浏览</p>
                <p class="date">时间：
                  <span>2018-11-11</span>
                </p>
              </div>
            </div>
            <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
          </a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
      <p>京ICP备13020642号-20 京公网备案11010502025794</p>
    </div>
  </footer>
</body>
<script>
  $('.menu .item').tab();
</script>

</html>