<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/semantic.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/semantic.min.js"></script>
  <script src="../js/home.js"></script>
  <title>参会记录</title>
</head>

<body>
  <header>
    <div class="ui borderless top menu">
      <div class="logo">
        <a href="./home.html">
          <img src="../assets/image/logo.png">
        </a>
      </div>
      <div class="right menu">
        <a class="item" href="./home.html">首页</a>
        <a class="item">参会指南</a>
        <a class="item">参会报名</a>
        <a class="item">会议动态</a>
        <a class="item">会议视频</a>
        <a class="item">会议征文</a>
        <a class="item">关于我们</a>
        <a class="item hide" href="./login.html">登录</a>
        <a class="item active">个人中心</a>
      </div>
    </div>
    <div class="banner bgi" style="background-image: url('../assets/image/banner.png')"></div>
  </header>
  <main class="topnav main">
    <h3 class="list-title">关注会议</h3>
    <div class="meeting-list">
      <a class="ml-item hover-item" href="#">
        <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
        <div class="ml-info">
          <h4>标题</h4>
          <div class="justify-box">
            <p>地点</p>
            <p>时间</p>
          </div>
          <div class="justify-box">
            <p>人气
              <span>10w+</span>
            </p>
            <p class="count">100起</p>
          </div>
        </div>
      </a>
      <a class="ml-item hover-item" href="#">
        <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
        <div class="ml-info">
          <h4>标题</h4>
          <div class="justify-box">
            <p>地点</p>
            <p>时间</p>
          </div>
          <div class="justify-box">
            <p>人气
              <span>10w+</span>
            </p>
            <p class="count">100起</p>
          </div>
        </div>
      </a>
      <a class="ml-item hover-item" href="#">
        <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
        <div class="ml-info">
          <h4>标题</h4>
          <div class="justify-box">
            <p>地点</p>
            <p>时间</p>
          </div>
          <div class="justify-box">
            <p>人气
              <span>10w+</span>
            </p>
            <p class="count">100起</p>
          </div>
        </div>
      </a>
      <a class="ml-item hover-item" href="#">
        <div class="bgi" style="background-image: url('../assets/image/egimage.png')"></div>
        <div class="ml-info">
          <h4>标题</h4>
          <div class="justify-box">
            <p>地点</p>
            <p>时间</p>
          </div>
          <div class="justify-box">
            <p>人气
              <span>10w+</span>
            </p>
            <p class="count">100起</p>
          </div>
        </div>
      </a>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
      <p>京ICP备13020642号-20 京公网备案11010502025794</p>
    </div>
  </footer>
</body>
</html>