<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <link rel="stylesheet" href="../assets/css/semantic.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/semantic.min.js"></script>
  <script src="../js/home.js"></script>
  <title>个人中心</title>
</head>

<body>
  <header>
    <div class="ui borderless top menu">
      <div class="logo">
        <a href="./home.html">
          <img src="../assets/image/logo.png">
        </a>
      </div>
      <div class="right menu">
        <a class="item" href="./home.html">首页</a>
        <a class="item">参会指南</a>
        <a class="item">参会报名</a>
        <a class="item">会议动态</a>
        <a class="item">会议视频</a>
        <a class="item">会议征文</a>
        <a class="item">关于我们</a>
        <a class="item hide" href="./login.html">登录</a>
        <a class="item active">个人中心</a>
      </div>
    </div>
    <div class="banner bgi" style="background-image: url('../assets/image/banner.png')"></div>
  </header>
  <main class="topnav main">
    <div class="pcenter-box">
      <a class="pcenter-item" href="./personalInfo.html">
        <img src="../assets/image/geren.png">
        <p>个人信息</p>
      </a>
      <a class="pcenter-item" href="#">
        <img src="../assets/image/canhui.png">
        <p>参会流程单</p>
      </a>
      <a class="pcenter-item" href="./meetingRecord.html">
        <img src="../assets/image/jilu.png">
        <p>参会记录</p>
      </a>
      <a class="pcenter-item" href="./myWallet.html">
        <img src="../assets/image/qianbao.png">
        <p>我的钱包</p>
      </a>
      <a class="pcenter-item" href="./elecTicket.html">
        <img src="../assets/image/dianziquan.png">
        <p>电子券</p>
      </a>
      <a class="pcenter-item" href="./couponTicket.html">
        <img src="../assets/image/youhuiquan.png">
        <p>优惠券</p>
      </a>
      <a class="pcenter-item" href="./followmeeting.html">
        <img src="../assets/image/guanzhuhuiyi.png">
        <p>关注会议</p>
      </a>
      <a class="pcenter-item" href="./videoMeeting.html">
        <img src="../assets/image/jilu.png">
        <p>视频播放记录</p>
      </a>
      <a class="pcenter-item" href="./collection.html">
        <img src="../assets/image/shoucangjia.png">
        <p>收藏夹</p>
      </a>
      <a class="pcenter-item" href="./myTeam.html">
        <img src="../assets/image/tuanti.png">
        <p>我的团体</p>
      </a>
      <a class="pcenter-item">
        <img src="../assets/image/tougao.png">
        <p>我的投稿</p>
      </a>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>Copyright © 2018 CCS&ESS Meetings 2018. All Rights Reserved.</p>
      <p>京ICP备13020642号-20 京公网备案11010502025794</p>
    </div>
  </footer>
</body>
<style>
  .pcenter-box {
    display: flex;
    flex-wrap: wrap;
  }

  .pcenter-item {
    width: calc(100% / 6);
    text-align: center;
    margin-bottom: 50px;
  }

  .pcenter-item:hover {
    color: #008bd7;
  }

  .pcenter-item img {
    margin-bottom: 10px;
  }
</style>

</html>